<% include views/include/fonts %>
<% include views/include/css-common %>
<% include views/include/code-prettify %>
<% include views/include/jquery %>

<html>
<head>
  <% include views/common/head-meta-default %>
  
  <title><%= title %></title>
  
  <%- this.helpers.css_load_html %>
</head>
<body>
  <h1 class="site-title"><%= title %></h1>
  <%- contents %>
  
  <%- this.helpers.js_load_html %>
</body>
</html>
