<% include views/include/bootstrap %>
<% include views/include/fonts %>
<% include views/include/css-common %>
<% include views/include/code-prettify %>

<html>
<head>
  <% include views/common/head-meta-default %>
  
  <title><%= title %></title>
  
  <%- this.helpers.css_load_html %>
</head>
<body class="home blog">
  <div class="container">
    <h1><%= title %></h1>
    
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <%- contents %>
      </div>
    </div>
  </div>
  
  <% include views/footer %>
  <%- this.helpers.js_load_html %>
</body>
</html>
